desktop.ini
output_caesar_analiz.txt
output_true_analiz.txt
output.txt
output№2.txt
output№3.txt
test copy.txt
test.txt
voyna-i-mir-tom-1.txt
__pycache__/caesar.cpython-39.pyc
__pycache__/desktop.ini
